@font-face {
  src: url("../fonts/static/OpenSans-Bold.ttf") format("truetype");
  font-family: "OpenSans-Bold";
}
@font-face {
  src: url("../fonts/static/OpenSans-SemiBold.ttf") format("truetype");
  font-family: "OpenSans-SemiBold";
}
@font-face {
  src: url("../fonts/static/OpenSans-Regular.ttf") format("truetype");
  font-family: "OpenSans";
}

@font-face {
  src: url("../fonts/static/OpenSans-Light.ttf") format("truetype");
  font-family: "OpenSans-light";
}

