// flex
@mixin flexbox($jc:null,$ac:null) {
  display: flex;
  justify-content: $jc;
  align-items: $ac;
}

@mixin button($color, $bg) {
  background-color:$bg;
  color: $color;
  border: 1px solid $bg;
  // &:hover {
  //   background-color:  $bg;
  //   color: $color;
  //   border: 1px solid $bg;
  // }
}

@mixin outline-button($clr,$bg){
  background-color: transparent;
  border: 1px solid $bg;
  &.active{
      background-color: $bg;
      color: $clr;
  }
  &:hover{
      background-color: $bg;
      color: $clr;
  }
}