@use "../abstracts" as *;

.select_menu {
  min-width: 250px;
  font-family: OpenSans;
  position: relative;
  &_btn {
    cursor: pointer;
    @extend %border-basic;
    padding: 12px;
    font-size: $sm;
    margin-bottom: 20px;
    @include flexbox(space-between, center);
    .down_arrow {
      width: 8px;
      height: 8px;
      position: relative;
      top: -1px;
      border-right: 1px solid $dark;
      border-bottom: 1px solid $dark;
      transform: rotate(45deg);
    }
    &.active {
      transition: all 0.8s ease-out;
      .down_arrow {
        transition: all 0.6s ease-out;
        transform: rotate(-45deg);
      }
      + .options {
        opacity: 1;
        position: relative;
        background-color: $white;
        border-radius: 5px;
        right: -30%;
        width: 70%;
        z-index: 5;
        box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08),
          0 0 0 1px rgba(6, 44, 82, 0.1);
        
        &::before {
            content: "";
            position: absolute;
            border-width: 10px;
            top: -20px;
            right: 10%;
            border-style: solid;
            border-color: transparent transparent $white transparent;

        }
        li {
          border-radius: 4px;
          padding: 12px;
          font-size: $sm;
          color: $dark-500;
          &:hover {
            background-color: $muted-500;
            color: $dark;
          }
        }
      }
    }
  }
  .options {
    width: 200px;
    height: 172px;
    padding: 10px;
    opacity: 0;
  }
}
