@use "../abstracts" as *;

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 70px;
  padding: 14px 20px;
  @include flexbox(center,center);
  background-color: $plategray;
  border-bottom: 1px solid $muted-500;
  box-shadow: 0 1px 0 0 var(--pale-blue);
  &_logo {
    font-family: OpenSans;
    svg {
      text {
        font-family: OpenSans-SemiBold;
        font-size: $md-1000;
      }
    }
  }
  &_menus {
    margin-right: 60px;
    @include flexbox(center,center);
    li {
      margin-right: 50px;
      &:nth-last-child(-n + 1) {
        margin-right: 0px;
      }
    }
    &_item {
      color: $muted;
      font-size: $sm;
      font-family: OpenSans;
      text-decoration: none;
      &.active {
        color: $dark;
      }
      &:hover {
        color: $dark;
      }
    }
  }
  &_profile {
    @include flexbox(center,center);
    &_sec {
      font-family: OpenSans;
      color: $dark-500;
      font-size: $sm;
      margin-left: 20px;
      @include flexbox(center,center);
      img {
        width: 34px;
        height: 34px;
        margin-right: 10px;
      }
    }
  }
}
