@use "../abstracts" as *;

.personal {
  padding: 20px;
  text-align: left;
  min-height: 1100px;
  &_wrap {
    margin-top: 36px;
    @include flexbox(space-between, flex-start);
    width: 100%;
    &_left {
      width: 40%;
      margin-right: 20px;
      &_heading {
        @extend %heading;
      }
      &_desc {
        @extend %font-basic;
        line-height: 1.3;
      }
      .date_sec {
        @include flexbox(flex-start, flex-start);
        flex-direction: column;
        label {
          @extend %font-basic;
        }
      }
    }
    &_right {
      width: 40%;
      position: relative;
      .personal_wrap_box {
        @include flexbox(flex-start, center);
        flex-direction: column;
      }
      .select_menu {
        min-width: 250px;
        font-family: OpenSans;
        position: relative;
        &_btn {
          cursor: pointer;
          @extend %select-basic;
          margin-bottom: 12px;
        background-color: $white;
          &.active {
            transition: all 0.8s ease-out;
            .down_arrow {
              transition: all 0.6s ease-out;
              transform: rotate(-45deg);
            }
            ~ .options {
              opacity: 1;
              position: relative;
              background-color: $white;
              border-radius: 5px;
              right: -30%;
              width: 70%;
              z-index: 5;
              box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08),
                0 0 0 1px rgba(6, 44, 82, 0.1);
              &::before {
                @extend %select-pointer;
                top: -14px;
                border-width: 7px;
                margin: 0px -7px;
                border-bottom-color: #e6e6e6;
              }
              &::after {
                @extend %select-pointer;
                top: -9.6px;
                border-width: 5px;
                margin: 0 -5px;
                border-bottom-color: #fff;
              }
              li {
                @extend %select-options;
              }
            }
          }
        }
        .options {
          width: 200px;
          min-height: 164px;
          padding: 10px;
          opacity: 0;
        }
      }
      
    }
    .input_set {
      position: relative;
      padding: 8px;
      width: 100%;
      background-color: $white;
      @extend %border-basic;
      border: 2px solid $muted-1000;
      @include flexbox(space-between, center);
      &.text_set {
        &:focus-within {
          border: 2px solid $primary;
        }
      }
      svg {
        margin-inline: 10px;
        width: 40px;
        height: 20px;
        path {
          fill: $dark;
        }
      }
      &.active {
        border: 2px solid $primary;
      }
      label {
        width: 100%;
        @extend %font-basic;
      }

      input {
        padding: 4px;
        width: 100%;
        @extend %font-basic;
        font-size: $sm;
        &:focus {
          border: none;
          outline: none;
        }
        &::placeholder {
          color: $muted;
          opacity: 1; 
        }
        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
          display: none;
          -webkit-appearance: none;
        }
      }
      select {
        @extend %font-basic;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
    .checkbox {
     @extend %checkbox;
      // Text
      & + label {
        // Checkbox
        &:before {
          width: 24px;
          height: 24px;
        }
        // Tick
        &:after {
          top: 2px;
          left: 20px;
         
        }
      }
    }
    .submit_button_set {
      @include flexbox(space-between, center);
      .btn_primary {
        font-family: OpenSans;
        font-size: $sm-500;
        width: 48%;
        cursor: pointer;
      }
      .btn_muted {
        @extend .btn_primary;
      }
    }
    .alarm {
      @include flexbox(space-between, center);
      .alarm_box {
        width: 48%;
        padding: 16px 5px;
        @extend %border-basic;
        text-align: center;
        svg {
          width: 50px;
          height: 50px;
          path {
            fill: $dark-500;
          }
        }
        &.active {
          border: 2px solid $primary;
          svg {
            path {
              fill: $primary;
            }
          }
        }
        .input_set {
          border: none;
          outline: none;
          box-shadow: none;
          background: transparent;
        }
      }
    }
  }
}
